# Archivos de Python
__pycache__/
*.pyc

# Entorno Virtual
venv/

# Archivos de configuración y secretos
*.env
config.py

# Bases de datos locales
*.db
*.sqlite3

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

